bump2version==1.0.1
coverage==5.5
flake8==3.9.1
httpx==0.18.1
pip==21.1
pre-commit
pytest-runner==5.3.0
pytest==6.2.3
respx==0.17.0
Sphinx==3.5.4
tox==3.23.0
twine==3.4.1
watchdog==2.0.3
wheel==0.36.2
yapf==0.31.0
zest.releaser==6.22.1
